* {
  margin: 0;
  padding: 0;
  /* font-family: "Protest Guerrilla", sans-serif; */
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #212529;
  color: #f7ede2;
  text-align: center;
}

h3 {
  font-size: 30px;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 305px;
  border: 2px solid rgb(174, 111, 111);
  border-radius: 15px;
}

.game {
  width: 300px;
  height: 340px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.game .box {
  color: black;
  font-size: 35px;
  width: 75px;
  height: 75px;
  margin: 4px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #e9ecef;
}

.btn-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

#reset-btn, #new-btn {
  padding: 0.8rem;
  font-size: 1.25rem;
  background-color: #6d2f2f;
  color: blanchedalmond;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px ;
}

#msg{
    font-size: 30px; 
}